{% extends 'myadmin/base.html' %}

{% block subtitle %}
    | Edit assignment
{% endblock %}

{% block main_content %}
    <div class="return-bar d-flex align-items-center justify-content-start pt-2">
        <div class="back-arr font-bold color-primary">
            <a href="#" onclick="window.history.back()"> <i
                    class="bi bi-arrow-left"></i> Back</a>
        </div>

    </div>
    <div class="title-wrapper">
        <h1 class="title">
            Edit Assignment Details
        </h1>
    </div>
    <div class="row">
        <div class="col-12 col-md-10 col-lg-8 col-xl-6 p-0">
            <div class="content-wrapper">
                <div class="form">
                    <form method="post" class="mb-5"
                          enctype="multipart/form-data">
                        {% if assignment_form.non_field_errors %}
                            <div class="error-message">
                                {{ assignment_form.non_field_errors }}
                            </div>
                        {% endif %}

                        {% csrf_token %}
                        {% for field in assignment_form %}
                            <div class="form-field">

                                <div class="label">{{ field.label_tag }}</div>
                                {% if field.errors %}
                                    <div class="error-message">
                                        <p>{{ field.errors }}</p>
                                    </div>
                                {% endif %}
                                <div class="input-field">{{ field }}</div>
                                {% if field.help_text %}
                                    <p class="help">{{ field.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <input type="submit" class="button button-primary px-5"
                               value="Submit">
                    </form>
                </div>

            </div>
        </div>
    </div>


{% endblock %}

<!-- 
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in assignment_form %}
    <p>
        {{field.label_tag}}

        {{field}}  
    </p>    
        {% for error in field.errors %}
            <p style="color: red;">{{error}}</p>
        {% endfor %}
    {% endfor %}
    <button type="submit">Update assignment</button>
</form> -->