{% extends 'myadmin/base.html' %}

{% block main_content %}
    <div class="title-wrapper">
        <h1 class="title">
            Routines
        </h1>
        <div class="action-buttons">
            <a href="{% url 'myadmin:add_department' %}"
               class="button button-primary">
                Add Routine
            </a>
        </div>
    </div>
    {% if message %}
        <div class="message success-message">
            {{ message }}
        </div>
    {% endif %}
    <div class="row">
        {% for routine in routines %}
            <div class="col-6 col-md-4 col-lg-3 mt-2 align-self-stretch">
                <a href="#">
                    <div class="tile">
                        <div class="tile-header bg-primary bordered text-white text-center">
                            <span>{{ routine.day }}</span>
                        </div>
                        <div class="tile-content">
                            <a href="#"
                               class="tile-title">
                                {{ routine }}
                            </a>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock main_content %}