{% extends 'myadmin/base.html' %}

{% block subtitle %}
    | {{ course.code }} - {{ course.name }}
{% endblock %}

{% block main_content %}
    <div class="return-bar d-flex align-items-center justify-content-start pt-2">
        <div class="back-arr font-bold color-primary">
            <a href="{% url 'myadmin:course_list' %}"> <i
                    class="bi bi-arrow-left"></i> Back</a>
        </div>

    </div>
    <div class="title-wrapper">
        <h1 class="title">
           Classrooms for {{ course.name }}
        </h1>
        <div class="action-buttons d-flex">
            <a href="{% url 'myadmin:course_edit' course.pk %}"
               class="button button-primary me-2" title="Edit">
                <i class="bi bi-pencil-square"></i>
            </a>


            <!-- Button trigger modal -->
            <button type="button" class="button button-danger" title="Delete"
                    data-bs-toggle="modal"
                    data-bs-target="#deleteCourseModal">
                <i class="bi bi-trash-fill"></i>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="deleteCourseModal" tabindex="-1"
                 aria-labelledby="deleteCourseModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header border-bottom-0">
                            <h1 class="color-primary ">
                                Delete Course??
                            </h1>
                        </div>
                        <div class="modal-content border-0 px-4">
                            <p>Are you sure you want to delete this
                                course?</p>
                        </div>
                        <div class="modal-footer border-0">
                            <button type="button"
                                    class="button button-secondary me-1"
                                    data-bs-dismiss="modal">Close
                            </button>
                            <form action="{% url 'myadmin:course_delete' course.pk %}"
                                  method="post"> {% csrf_token %}
                                <button type="submit"
                                        class="button button-danger"
                                        title="Delete Course">
                                    Delete
                                </button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        {% for classroom in classrooms %}
            <div class="col-6 col-md-4 col-lg-3 mt-2 align-self-stretch">
                <div class="tile">
                    <div class="tile-header bg-primary bordered text-white text-center">
                        <span>{{ classroom.course.code }}</span>
                    </div>
                    <div class="tile-content d-flex align-items-center justify-content-between">
                        <div>
                            <a href="{% url 'myadmin:classroom_detail' classroom.id %}">
                                <h3 class="tile-title tile-title-small">
                                    {{ classroom.course.code }}-{{ classroom.course.name }}
                                </h3>
                                <h3 class="tile-title m-0">
                                    {{ classroom.name }}
                                </h3>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
{% endblock main_content %}
