{% extends 'myadmin/base.html' %}

{% block subtitle %}
    | Courses
{% endblock %}

{% block main_content %}
    <div class="title-wrapper">
        <h1 class="title">Courses</h1>
        <div class="action-buttons">
            <a href="{% url 'myadmin:course_add' %}"
               class="button button-primary">
                Add Course </a>
        </div>
    </div>
    {% if message %}
        <div class="message success-message">{{ message }}</div>
    {% endif %}
    <div class="row">
        {% for course in courses %}
            <div class="col-6 col-md-4 col-lg-3 mt-2 align-self-stretch">
                <a href="{% url 'myadmin:course' course.pk %}">
                    <div class="tile">
                        <div
                                class="tile-header bg-primary bordered text-white text-center"
                        >
                            <span>{{ course.code }}</span>
                        </div>
                        <div class="tile-content">
                            <h3 class="tile-title tile-title-small">
                                {{ course.code }}
                            </h3>
                            <a href="{% url 'myadmin:course' course.pk %}"
                               class="tile-title"> {{ course.name }} </a>
                        </div>
                    </div>
                </a>
            </div>
        {% empty %}
            <div class="message empty-message">No courses yet. Add some.</div>
        {% endfor %}
    </div>
{% endblock main_content %}
