{% extends 'myadmin/base.html' %}

{% block main_content %}
    <div class="title-wrapper">
        <h1 class="title">Dashboard</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title text-center d-flex flex-column">
                            <i class="bi bi-calendar-week-fill display-1 primary"></i>
                            <span>Daily Routines</span>
                        </h5>
                        <p class="card-text">View and manage daily
                            routines.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}