<div class="sidebar">
    <div class="sidebar-header">
        <h3>Kakshya</h3>
    </div>
    <div class="sidebar-links">
        <ul>
            <li>
                <a href="{% url 'myadmin:dashboard' %}">
                    <i class="icon bi bi-house-door-fill"></i>Dashboard</a
                >
            </li>
            <li>
                <a href="{% url 'myadmin:routine_list' %}"> <i
                        class="icon bi bi-list-task"></i>Routines</a>
            </li>
            <li>
                <a href="{% url 'myadmin:course_list' %}">
                    <i class="icon bi bi-journal-bookmark-fill"></i>Courses</a
                >
            </li>
            <li>
                <a href="{% url 'myadmin:department_list' %}">
                    <i class="icon bi bi-bookmark-star-fill"></i>Departments</a
                >
            </li>
            <li>
                <a href="{% url 'assignment:assignment_list' %}">
                    <i class="icon bi bi-pen"></i>Assignments</a
                >
            </li>
        </ul>
    </div>
</div>
