{% extends 'pages/index.html' %}
{% block subtitle %} 
    | Dashboard
{% endblock subtitle %}

{% block main_content %}
<div class="title-wrapper">
    <h3 class="title sub-title">
        Classrooms
    </h3>
</div>
{% if message %}
    <div class="message danger-message">
        {{ message }}
    </div>
{% endif %}
<div class="row">
    {% for room in classroom|slice:":4" %}
        <div class="col-6 col-md-4 col-lg-3 mt-2 align-self-stretch">
            <div class="tile">
                <div class="tile-header bg-primary bordered text-white text-center">
                    <span>{{ room.code }}</span>
                </div>
                <div class="tile-content d-flex align-items-center justify-content-between">
                    <div>
                        <a href="{% url 'pages:classroom_detail' room.id %}">
                            <h3 class="tile-title tile-title-small">
                                {{ room.name }}-{{ room.code }}
                            </h3>
                            <h3 class="tile-title m-0">
                                {{ room.course.name }}
                            </h3>
                        </a>
                    </div>

                </div>

            </div>
        </div>
        {% empty %}
        <span class="color-primary font-bold small text-center mt-3">No classrooms created yet.</span>
    {% endfor %}
{% endblock %}