{% extends 'pages/index.html' %}

{% block subtitle %}
    | Post
{% endblock %}

{% block main_content %}
<div class="title-wrapper">
<h1 class="title">
    Post
</h1>
{% if teacher %}
<div class="action-buttons d-flex">
    <a href="#"
       class="button button-primary me-2" title="Edit">
        <i class="bi bi-pencil-square"></i>
    </a>


    <!-- Button trigger modal -->
    <button type="button" class="button button-danger" title="Delete"
            data-bs-toggle="modal"
            data-bs-target="#deletePostModal">
        <i class="bi bi-trash-fill"></i>
    </button>
</div>
{% endif %}
</div>
    {% if message %}
        <div class="message success-message">
            {{ message }}
        </div>
    {% endif %}
    <div class="row mt-2">
        <div class="col-12 col-md-8 col-lg-12 mt-4 align-self-stretch">
            <div class="">
                <div class="tile-content d-flex align-items-center justify-content-between">
                    <div>
                        <div class="d-flex align-items-center justify-content-between">
                            <h5 class="mb-2 color-primary">{{ post.user }}
                                <br><span
                                        class="text-muted mb-2"><small>{{ post.created_on }}</small></span>
                            </h5>


                        </div>

                        <a href="#" class="mt-5 mb-2">
                            {{ post.caption }}
                        </a>
                    </div>
                </div>
                {% if post.file %}
                    <div class="mt-2">
                        <a href="{{ post.file.url }}" class="text-primary mt-5"
                           value="{{ post.file }}">
                        <span class="bi bi-arrow-down-circle-fill mt-2 text-success">
                            Attachments
                        </span>
                        </a>
                    </div>
                {% endif %}

                <div class="mt-4">
                    <div>
                        {% if request.user not in post.reacted_by.all %}
                            <form method="post"
                                  action=" {% url 'pages:post_react' post.classroom.pk post.pk 1 %}">{% csrf_token %}
                                <button type="submit"
                                        class="text-center button button-primary bg-primary">
                                    <span>{{ post.reacted_by.all.count }}</span> <br>
                                    <i
                                            class="bi bi-heart text-white"></i>
                                    <span>React</span></button>
                            </form>
                        {% else %}
                            <form method="post"
                                  action=" {% url 'pages:post_react' post.classroom.pk post.pk 0 %}">{% csrf_token %}
                                <button type="submit"
                                        class="text-center button button-primary bg-primary">
                                    <span>{{ post.reacted_by.all.count }}</span> <br>
                                    <span>
                                    <i class="bi bi-heart-fill text-white"></i>
                                    <span>Reacted</span></span></button>
                            </form>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="title-wrapper mt-5">
        <h6 class="title sub-title">
            Comments
        </h6>
    </div>
    <div class="row mt-4">
        <div class="col-12 col-md-10 col-lg-8 col-xl-6 p-0">

            {% for comment in comments %}
                <div class="content-wrapper mx-2 border p-2 rounded mb-2">
                    <p>{{ comment.commented_by }} <br><span
                            class=" text-muted mb-2"><small>{{ comment.created_on }}</small></span>
                    </p>
                    <p class="text-muted">{{ comment.caption }}</p>
                    <p class="text-muted">Reacts: {{ comment.reacts }}</p>
                </div>
            {% empty %}
                <p class="color-primary font-bold text-center">No comments
                    yet.</p>
            {% endfor %}
        </div>
    </div>



    <div class="title-wrapper mt-5">
        <h6 class="title sub-title">
            Add a comment
        </h6>
    </div>
    <div class="row">
        <div class="col-12 col-md-10 col-lg-8 col-xl-6 p-0">
            <div class="content-wrapper">
                <div class="form">
                    <form method="post" class="mb-5"
                          enctype="multipart/form-data">
                        {% if comment_form.non_field_errors %}
                            <div class="error-message">
                                {{ comment_form.non_field_errors }}
                            </div>
                        {% endif %}

                        {% csrf_token %}
                        {% for field in comment_form %}
                            <div class="form-field">

                                <div class="label">{{ field.label_tag }}</div>
                            {% if field.errors %}
                                <div class="error-message">
                                    <p>{{ field.errors }}</p>
                                </div>
                            {% endif %}
                            <div class="input-field">{{ field }}</div>
                            {% if field.help_text %}
                                <p class="help">{{ field.help_text|safe }}</p>
                            {% endif %}
                        </div>
                {% endfor %}
                    <input type="submit" class="button button-primary px-5"
                           value="Submit">
                </form>
            </div>
    
        </div>
    </div>
    </div>
<!-- POST SECTION -->
{% if teacher %}
<div class="title-wrapper mt-2">
        <!-- Modal -->
        <div class="modal fade" id="deletePostModal" tabindex="-1"
             aria-labelledby="deletePostModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header border-bottom-0">
                        <h1 class="color-primary ">
                            Delete Course??
                        </h1>
                    </div>
                    <div class="modal-content border-0 px-4">
                        <p>Are you sure you want to delete this
                            post?</p>
                    </div>
                    <div class="modal-footer border-0">
                        <button type="button"
                                class="button button-secondary me-1"
                                data-bs-dismiss="modal">Close
                        </button>
                        <form action="#"
                              method="post"> {% csrf_token %}
                            <button type="submit"
                                    class="button button-danger"
                                    title="Delete Post">
                                Delete
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endif %}

{% endblock main_content %}